html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mainHeaderImage {
  position: relative;
  background: url(/images/LandingPageHeaderImage.svg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 900px;
  margin: 0px;
  overflow: hidden;
}

/* Navigation */
.navigationBarContainer {
  position: absolute;
  margin-top: 30px;
  top: 0%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationLogo {
  height: 40px;
  margin-left: 50px;
}

.navLinkContainer {
  margin-right: 25px;

  /* background-color: red; */
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink :hover {
  background-color: white;
  color: black;
}

/* Description */
.hwaseongText {
  position: absolute;
  font-size: 90px;
  color: white;
  top: 40%;
  left: 38%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.titleSubtitle {
  position: absolute;
  font-size: 30px;
  top: 42%;
  left: 48%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
