html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.mainHeaderImage {
  position: relative;
  width: 100%;
  height: 900px;
  margin: 0px;
  overflow: hidden;
  object-fit: cover;
  background-position: 0 99%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLink :hover {
  background-color: white;
  color: black;
}

/* Description */
.sectionHeaderDiv {
  width: 30%;
  /* background-color: blue; */
}

/* div for the Explore Hwaseong title and short description */
.descriptionDiv {
  display: flex;
  position: absolute;
  top: 17em;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: pink; */
  margin-right: 150px;
  margin-left: 150px;
  height: 300px;
}
.sectionHeaderDiv {
  color: rgb(13, 13, 63);
  width: 70%;
}

.landingPageTitleText {
  letter-spacing: 0.2em;
  /* font-family: 'Amstelvar'; */
}

.sectionDescriptionDiv {
  width: 70%;
}

/* div for the photos and descriptions of some things to do in Hwaseong */
.landingPhotos {
  max-width: 100%;
  height: auto;
  display: flex;
  object-fit: cover;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  margin-bottom: 200px;
}

.landingImage {
  width: 500px;
  height: 300px;
}

.landingPageDescriptionText {
  font-size: large;
}

/* .whiteImageMap {
  position: absolute;
  top: 9em;
  right: 3em;
  width: 30%;
  opacity: 0.4;
} */
