/* font styling: */
.boldText {
  font-weight: bold;
  margin-right: 5px;
}

/* body styling */
.nearbyRecommendationsHeaderBoxContainer {
  width: 100%;
  height: 120px;
  background-color: black;
  margin-bottom: 25px;
}

.nearybyRecommendationsTitle {
  margin-left: 15%;
}

.nearbyRecommendationsListContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
  margin-top: 10px;
  /* background-color: red; */
}

.nearbyRecommendationsHeaderImage {
  width: 550px;
  height: 350px;
  object-fit: cover;
}

.nearyByRecommendationsDetailContainer {
  width: 50%;
  margin-left: 20px;
}

.nearbyRecommendationsKoreanAddressDiv {
  display: flex;
}

.nearbyRecommendationsEnglishAddressDiv {
  display: flex;
}
