.formPanel {
  margin-bottom: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginFormTitle {
  text-align: center;
}

.loginFormSetMargins {
  margin-left: 40px;
}

.loginFormInputFields {
}
