.loginPageEntireDiv {
  /* background-color: rgb(0, 0, 17); */
  background-image: url('/images/tando_port.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
}

.formPanel {
  margin-bottom: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginFormTitle {
  text-align: center;
}

.loginFormSetMargins {
  margin-left: 40px;
}

.alert {
  background-color: rgba(255, 255, 255, 0.4);
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.loginBtn {
  margin-top: 10px;
}

.loginPageContainer {
  width: 400px;
  background-color: rgb(255, 255, 255, 0.1);
}

.loginFormInputFields {
  background-color: rgb(255, 255, 255, 0.4);
}

.loginFormInputFields::placeholder {
  color: black;
}

.registerButton {
  margin-bottom: 10px;
}
