.recommendationsItemDiv {
  width: 100%;
  display: flex;
  /* background-color: blue; */
}

.recommendationsItemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}

.editDeleteButtons {
  margin-bottom: 5px;
}

.adminDashRecommendationItemName {
  font-size: large;
}

.adminDeleteButton {
  margin-left: 4px;
}
