.adminDashboardDiv {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 100px;
}

.headerBox {
  width: 100%;
  height: 140px;
  background-color: black;
}

.adminDashboardHeader {
  text-align: center;
}

.adminDashContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminDashAddButton {
  background-color: rgb(0, 168, 240);
}
