.aboutHeader {
  width: 100%;
}

.contentContainer {
  /* background-color: red; */
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.smallerContainer {
  width: 65%;
}

/* resources: */
.resourcesDiv {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}

.blue {
  color: blue;
}
